@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page-background-class">
    <MudLayout>
        <MudPaper MaxWidth="700px" MaxHeight="50px" class="Mudpaper">
            <MudToolBar Style="display: flex;" class="MudpaperEl">
                    

                <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home" Title="Favorite" >Home</MudNavLink>
                         
                <MudNavLink Href="about" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.WorkHistory">Experience</MudNavLink>
                            
                <MudNavLink Href="projects" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Notes">Projects</MudNavLink>

                <MudNavLink Href="skills" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Score">Skills</MudNavLink>
                 
                <MudNavLink Href="contact" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.ContactPage">Contact</MudNavLink>

       
            </MudToolBar>
        </MudPaper>


        <MudMainContent>
            <div>
                @Body
            </div>
        </MudMainContent>
    </MudLayout>
</div>

<style>
    .Mudpaper {
        background-color: yellowgreen;
        position: sticky;
        top: 10px;
        margin: auto;
        padding: 10px;
        border: 2px ;
        border-radius: 60px;
        color: white
    }
    .MudpaperEl {
        margin: auto;
        padding: 10px;
        bottom: 17px;
    }
    .layout {
        background-image: url(images/back.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
</style>